[Unit]
Description=Gunicorn server for {{server_name}}

[Service]
Restart=on-failure
User={{user}}
WorkingDirectory=/home/{{user}}/site/{{server_name}}
EnvironmentFile=/home/{{user}}/site/{{server_name}}/superlists/.env

ExecStart=/home/{{user}}/site/{{server_name}}/.venv/bin/gunicorn \
    --bind unix:/tmp/{{server_name}}.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
